* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .content {
    margin: 0 0 0;
  }
}
.content__title {
  display: flex;
  align-items: center;
  margin: 80px 235px 30px 235px;
}
@media screen and (max-width: 1218px) {
  .content__title {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .content__title {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.content__title-name {
  margin-right: 20px;
}
.content__bestseller {
  height: 28px;
  width: 124px;
  background: #FEC022;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFF;
  border-radius: 5px;
}
.content__bestseller img {
  margin-right: 10px;
}
.content__main {
  width: 100%;
  min-height: 250px;
  background: url(../img/bg.jpg) 0 0/100% 100% no-repeat;
  padding: 30px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
@media screen and (max-width: 1218px) {
  .content__main {
    height: 400px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .content__main {
    padding: 30px 30px 100px;
  }
}
@media screen and (max-width: 600px) {
  .content__main {
    height: 650px;
  }
  .content__main div:nth-child(5) {
    order: -1;
  }
}
@media screen and (max-width: 400px) {
  .content__main {
    padding: 1px;
  }
}

.main__price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 170px;
  height: 84px;
}
@media screen and (max-width: 1218px) {
  .main__price {
    margin: 0;
  }
}
@media screen and (max-width: 400px) {
  .main__price {
    margin: 5px;
  }
}
.main__price-title {
  font-size: 18px;
  align-items: center;
  display: flex;
}
.main__price-title img {
  margin-right: 10px;
}
.main__price label {
  height: 40px;
  width: 123px;
  background: #FFF;
  -webkit-user-select: none;
          user-select: none;
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 5px;
}
.main__price .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 22px;
}
.main__price .checkbox:hover + .checkbox-new {
  background: #FCE8E9;
  border: 1px solid red;
}
.main__price .checkbox:checked + .checkbox-new {
  background: red;
  color: #FFF;
}
.main__price .checkbox-new {
  width: 123px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.main__diameter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50px;
  height: 84px;
}
@media screen and (max-width: 1218px) {
  .main__diameter {
    margin: 0;
  }
}
.main__diameter-title {
  font-size: 18px;
  align-items: center;
  display: flex;
}
.main__diameter-title img {
  margin-right: 10px;
}
.main__diameter label {
  width: 66px;
  height: 40px;
  margin: 0 5px;
  background: #FFF;
  -webkit-user-select: none;
          user-select: none;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}
.main__diameter-checkboxes {
  display: flex;
}
.main__diameter .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 22px;
}
.main__diameter .checkbox:hover + .checkbox-new {
  background: #FCE8E9;
  border: 1px solid red;
}
.main__diameter .checkbox:checked + .checkbox-new {
  background: red;
  color: #FFF;
}
.main__diameter .checkbox-new {
  width: 66px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.main__pack {
  margin-left: 30px;
  height: 84px;
}
@media screen and (max-width: 1218px) {
  .main__pack {
    margin: 0;
  }
}
.main__pack-title {
  font-size: 18px;
  align-items: center;
  display: flex;
}
.main__pack-title img {
  margin-right: 10px;
}
.main__pack label {
  width: 57px;
  height: 40px;
  margin: 0 10px;
  background: #FFF;
  -webkit-user-select: none;
          user-select: none;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}
.main__pack-checkboxes {
  display: flex;
}
.main__pack .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 22px;
}
.main__pack .checkbox:hover + .checkbox-new {
  background: #FCE8E9;
  border: 1px solid red;
}
.main__pack .checkbox:checked + .checkbox-new {
  background: red;
  color: #FFF;
}
.main__pack .checkbox-new {
  border-radius: 5px;
  width: 57px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__type {
  height: 84px;
  margin-left: 30px;
}
@media screen and (max-width: 1218px) {
  .main__type {
    margin: 0;
  }
}
.main__type-title {
  font-size: 18px;
  align-items: center;
  display: flex;
}
.main__type-title img {
  margin-right: 10px;
}
.main__img {
  position: absolute;
  bottom: -55px;
  right: -10px;
  overflow: hidden;
}
@media screen and (max-width: 930px) {
  .main__img {
    right: -170px;
  }
}
@media screen and (max-width: 600px) {
  .main__img {
    position: unset;
  }
}
.main__img img {
  width: 509px;
  height: 200px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .main__img img {
    width: 100%;
    height: 100%;
  }
}
.main__button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 30px;
}
@media screen and (max-width: 400px) {
  .main__button {
    padding: 0 0 20px 0;
    left: 50%;
    transform: translate(-50%);
  }
}
.main__button button {
  width: 211px;
  height: 60px;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  background: #FFF;
}
@media screen and (max-width: 500px) {
  .main__button button {
    width: 280px;
  }
}
.main__button button:hover {
  background: red;
  color: #FFF;
}